<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons>
            <ion-back-button mode="ios" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size="11">
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">4KG rice donated by Muzammil.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">10 dozen banana donated by Muneer.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">10,000 rupees transfered to your account by Muzammil.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">100 food savour rise boxes donated by Ali.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">150 KG rise donated by Raza.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">4KG rice donated by Muzammil.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">10 dozen banana donated by Muneer.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">10,000 rupees transfered to your account by Muzammil.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">100 food savour rise boxes donated by Ali.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item detail="false" lines="none" class="itemCont">
                <ion-icon slot="start" class="itemIcon" name="notifications"></ion-icon>
                <p class="my-0 font-14">150 KG rise donated by Raza.</p>
                <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-content>
